body{
	background:#F8F8F8 !important ;
}
#myNav{
	font-family: 'roboto';
	font-size:15px;
	border-radius: 0px;
}

.main{
	width: 98%;
	margin: 0 auto;
	font-family: 'Josefin Slab';
	margin-top: 50px;
}

.main .filter{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	width: 15%;
	float: left;
	background: white;
}
.filter ul {
	list-style: none;
	font-family: "roboto";
	position: relative;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
}
.filter ul li{
	width: auto;
	padding: 2px;
}
.filter ul li:nth-last-child(1){
	border: 0px;
}
.brands{
	display: inline;
	font-size: 14px;
	margin-left: 5px;
}
.main .aside{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 7px;
	background: white;
	font-size: 16px;
	width: 20%;
	float: right;
}
.main .aside .phone{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	text-align: center;
}
.main .aside .phone p{
	width: 90%;
	margin: 0 auto;
	display: block;
}
.main .content{
	width: 65%;
	margin-left: 15%;
}
.content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.item{
	background: white;
	border: 1px solid black;
	border-radius: 4px;
	height: 300px;
	margin-left: 2.5%;
	padding: 15px;
	text-align: center;
	width: 190px;
	margin-bottom: 15px;
	box-shadow: 2px 5px 2px;
}
.item:hover{
	margin-top: -5px;
}
.item .name{
	margin-top: 6%;
	font-size: 16px;
}
.item .fav{
	float: right;
	color: yellow;
	font-size: 20px;
}
.item .fav:hover{
	font-size: 25px;
	color: #E4F746;
}
.item .compare{
	float: left;
	font-size: 12px;
	color: #2F3A42;
	background: transparent;
	border: 2px solid #93ADCE;	
}
.item .compare:hover{
	font-size: 16px;
}
.nav.navbar-nav.navbar-right.SandS{
	margin-top: 10px;
}
.enter{
	margin-left: 25px;
}
#SandS{
	display: inline;
}
.login{
	background: transparent;
	border: 2px solid #514D86;
	text-align: center;
	padding-top: 4px;
	font-family: "roboto";
	font-size: 20px;
	margin-left:50px;
	margin-top: -5px;

}
.search{
	border: 2px solid #514D86;
	padding-left: 5px;
	border-radius: 2px;
}
.search input{
	border: 0px;
	margin-left: 10px;
}
.myform{
	font-family: roboto;
	font-size: 18px;
	color:black;
	background: white;
	padding: 15px;
	border-radius: 7px;
	width: 80%;
	margin: 0 auto
}

#form{
	margin-top: 70px;
}
.containerImg{
margin-left: 5%;
}
#preview-image {
	background-image: url('../img/dummy-img.jpg');
	border:1px solid #ccc;
	width: 50%;
	height: 350px;
	background-size:cover;
	background-position: center center;
	margin-top:10px;
}
.myTable{
	font-family: roboto;
	text-align: center;
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px; 
}
.myTable .desc{
	text-align: justify;
	color: black;
	font-size: 14px;

}
.btn-compare{
	width: 50%;
	margin-left: 25%;
}