<div class="container">
	
<table class="myTable table table-hover">
	<tr >
		<td></td>
		<th ng-repeat="phone in phones">IMG</th>
	</tr>
	<tr>
		<td class="desc">Device name</td>
		<td ng-repeat="phone in phones">
			{{phone.deviceName}}
		</td>
	</tr>
	<tr>
		<td class="desc">Brand</td>
		<td ng-repeat="phone in phones">{{phone.brand}}</td>
	</tr>
	<tr>
		<td class="desc">Dimensions</td>
		<td ng-repeat="phone in phones">{{phone.dimensions}}</td>
	</tr>
	<tr>
		<td class="desc">Sim</td>
		<td ng-repeat="phone in phones">{{phone.sim}}</td>
	</tr>
	<tr>
		<td class="desc">Screen Type</td>
		<td ng-repeat="phone in phones">{{phone.screenType}}</td>
	</tr>
	<tr>
		<td class="desc">Resolution</td>
		<td ng-repeat="phone in phones">{{phone.resolution}}</td>
	</tr>
	<tr>
		<td class="desc">Card Slot</td>
		<td ng-repeat="phone in phones">{{phone.card_slot}}</td>
	</tr>
	<tr>
		<td class="desc">Wlan</td>
		<td ng-repeat="phone in phones">{{phone.wlan}}</td>
	</tr>
		<tr>
		<td class="desc">Bluetooth</td>
		<td ng-repeat="phone in phones">{{phone.bluetooth}}</td>
	</tr>
		<tr>
		<td class="desc">GPS</td>
		<td ng-repeat="phone in phones">{{phone.gps}}</td>
	</tr>
		<tr>
		<td class="desc">Radio</td>
		<td ng-repeat="phone in phones">{{phone.radio}}</td>
	</tr>
		<tr>
		<td class="desc">Batery</td>
		<td ng-repeat="phone in phones">{{phone.batery}}</td>
	</tr>
		<tr>
		<td class="desc">Colors</td>
		<td ng-repeat="phone in phones">{{phone.colors}}</td>
	</tr>
		<tr>
		<td class="desc">Sensor</td>
		<td ng-repeat="phone in phones">{{phone.sensors}}</td>
	</tr>
		<tr>
		<td class="desc">Memory</td>
		<td ng-repeat="phone in phones">{{phone.memory}}</td>
	</tr>
		<tr>
		<td class="desc">OS</td>
		<td ng-repeat="phone in phones">{{phone.os}}</td>
	</tr>
		<tr>
		<td class="desc">Cam</td>
		<td ng-repeat="phone in phones">{{phone.cam}}</td>
	</tr>
		<tr>
		<td class="desc">Cam Primcipal</td>
		<td ng-repeat="phone in phones">{{phone.c_primary}}</td>
	</tr>
		<tr>
		<td class="desc">Cam Secondary</td>
		<td ng-repeat="phone in phones">{{phone.c_secondary}}</td>
	</tr>
		<tr>
		<td class="desc">Video</td>
		<td ng-repeat="phone in phones">{{phone.video}}</td>
	</tr>
		<tr>
		<td class="desc">Chipset</td>
		<td ng-repeat="phone in phones">{{phone.chipset}}</td>
	</tr>
		<tr>
		<td class="desc">Connections</td>
		<td ng-repeat="phone in phones">{{phone.conections}}</td>
	</tr>
</table>

</div>